/* button-form */
.button-form {
  width: 100%;
  padding: 12px 36px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  transition: background-color .4s, color .4s;
}

/* button-primary */
.button-primary {
  background-color: var(--button-primary-color);
  border: 2px solid var(--button-primary-color);
  color: #fff;
}

@media (hover: hover) {
  .button-primary:hover {
    background-color: #fff;
    color: var(--button-primary-color);
  }
}

.button-primary:focus-visible {
  background-color: #fff;
  color: var(--button-primary-color);
}

/* button-cancel */
.button-cancel {
  background-color: var(--button-cancel-color);
}

@media (hover: hover) {
  .button-cancel:hover {
    background-color: #333;
    color: var(--button-cancel-color);
  }
}

.button-cancel:focus-visible {
  background-color: #333;
  color: var(--button-cancel-color);
}