.button-icon {
  padding: 8px;
}

.button-icon svg path {
  transition: fill .3s;
}

@media (hover: hover) {
  .button-icon:hover svg path {
    fill: red;
  }
}
.button-icon:focus-visible svg path {
  fill: red;
}

.button-primary {
  width: 100%;
  padding: 12px 36px;
  background-color: #ffa500;
  border-radius: 5px;
  border: 2px solid #ffa500;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: background-color .4s, color .4s;
}

@media (hover: hover) {
  .button-primary:hover {
    background-color: #fff;
    color: #ffa500;
  }
}
.button-primary:focus-visible {
  background-color: #fff;
  color: #ffa500;
}