.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.contents {
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 5px #333;
}